body {
	margin: 0px;
	font-family: 'Times New Roman', Times, serif;
}

header {
	background-color: #A52A2A;
	display: flex;
	align-items: center;
	position: relative;
}
div #logo {
	width: 75px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
	padding: 5px;
}

div.login_logout {
	position: absolute;
	right: 20px;
}

div a.login_register_button {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

footer {
	background-color: #111;
	width: 100%;
	position: relative;
	bottom: 0%;
	/*margin-top: 15px;*/
}

.footerContainer {
	padding: 20px 20px 20px;
}
.socialIcons {
	display: flex;
	justify-content: center;
}
.socialIcons a {
	text-decoration: none;
	padding: 10px;
	background-color: white;
	margin: 10px;
	border-radius: 50%;
}
.socialIcons a i {
	font-size: 1.2em;
	color: black;
	opacity: 0.9;
}

.socialIcons a:hover {
	background-color: #111;
	transition: 0.5s;
}
.socialIcons a i:hover {
	color: white;
	transition: 0.5s;
}
.footerNav {
	margin:10px 0px;
}
.footerNav ul {
	display: flex;
	justify-content: center;
}
.footerNav ul li {
	list-style-type: none;
	text-decoration: none;
}
.footerNav ul li a {
	color: white;
	margin: 10px;
	text-decoration: none;
	font-size: 18px;
	opacity: 0.7;
	transition: 0.5s;
}
.footerNav ul li a:hover {
	opacity: 1;
}

.footerBottom {
	background-color: #000;
	padding: 10px;
	text-align: center;
}
.footerBottom p {
	color: white;
}
.designer {
	opacity: 0.7;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400px;
	margin: 0px 5px;
}

form {
	margin-left: 30px;
}
h1.formHeader {
	margin-left: 30px;
}
