<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
		<script src="https://kit.fontawesome.com/50227cdd13.js" crossorigin="anonymous"></script>
		{% if title %}
		<title>{{ title }} - 5MS</title>
		{% else %}
		<title>Welcome to 5MS</title>
		{% endif %}
	</head>
	<body>
		<header class="nav">
			<div>
				<img src="https://aoc.com/img/static/porsche/icons/AFL_5ms_CMYK.png" alt="Your Logo" id="logo">
			</div>
			<nav>
				<a href="{{ url_for('index') }}">Home</a>
				<a href="{{ url_for('manpowers') }}">Manpower</a>
				<a href="{{ url_for('materials') }}">Materials</a>
				<a href="{{ url_for('machineries') }}">Machinery</a>
				<a href="{{ url_for('money') }}">Money</a>
				<a href="{{ url_for('management') }}">Management</a>
			</nav>
			<div class="login_logout">
				{% if current_user.is_anonymous %}
				<a href="{{ url_for('login') }}" class="login_register_button">Login</a>
				{% else %}
				<a href="{{ url_for('logout') }}" class="login_register_button">Logout</a>
				{% endif %}
			</div>
		</header>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}

		<h1 class="formHeader">Reset Password</h1>
		<form action="" method="post">
			{{ form.hidden_tag() }}
			<p>
			{{ form.email.label }}<br>
			{{ form.email(size=64) }}<br>
			{% for error in form.email.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
		</form>
		<footer>
		<div class="footerContainer">
			<div class="socialIcons">
				<a href=""><i class="fa-brands fa-facebook"></i></a>
				<a href=""><i class="fa-brands fa-instagram"></i></a>
				<a href=""><i class="fa-brands fa-twitter"></i></a>
				<a href=""><i class="fa-brands fa-linkedin"></i></a>
				<a href=""><i class="fa-brands fa-youtube"></i></a>
			</div>
			<div class="footerNav">
				<ul>
					<li><a href="{{ url_for('index') }}">Home</a></li>
					<li><a href="">Opportunities</a></li>
					<li><a href="">About Us</a></li>
					<li><a href="">Contact Us</a></li>
					<li><a href="{{ url_for('dash') }}">New Entry</a></li>
				</ul>
			</div>
		</div>
		<div class="footerBottom">
			<p>Copyright &copy;2023; Designed by <span class="designer"> Moses and Olivier</span></p>
                </div>
		</footer>
	</body>
</html>

